In [1]:
import requests
import ssl
import json
import time
import tweepy
import os
import pandas as pd
from pathlib import Path
from pprint import pprint

from dotenv import load_dotenv

In [2]:
load_dotenv()

True

In [3]:
ssl._create_default_https_context = ssl._create_unverified_context

In [4]:
api_key = os.environ.get("LUNAR_API_KEY")

In [6]:
parameters = ['asset_id', 
              'time', 
              'open',
              'close',
              'high',
              'low', 
              'volume', 
              'market_cap',
              'reddit_posts',
              'reddit_posts_score',
              'reddit_comments',
              'reddit_comments_score', 
              'tweets', 'tweet_spam',
              'tweet_followers',
              'tweet_quotes',
              'tweet_retweets', 
              'tweet_replies', 
              'tweet_favorites', 
              'tweet_sentiment1', 
              'tweet_sentiment2', 
              'tweet_sentiment3', 'tweet_sentiment4', 'tweet_sentiment5', 'tweet_sentiment_impact1', 'tweet_sentiment_impact2', 'tweet_sentiment_impact3', 'tweet_sentiment_impact4', 'tweet_sentiment_impact5', 'social_score', 'average_sentiment', 'sentiment_absolute', 'sentiment_relative', 'search_average', 'news', 'price_score', 'social_impact_score', 'correlation_rank', 'galaxy_score', 'volatility', 'alt_rank', 'alt_rank_30d', 'market_cap_rank', 'percent_change_24h_rank', 'volume_24h_rank', 'social_volume_24h_rank', 'social_score_24h_rank', 'medium', 'youtube', 'social_contributors', 'social_volume', 'price_btc']

In [8]:
def cleandata(assets,assets_data):
    for item in assets["data"][0]["timeSeries"]:
        temp = {}
        for key,value in item.items():
            if key in parameters:
                temp[key]=value
        assets_data["timeSeries"].append(temp)
    return assets_data

In [9]:
def getdata():
    url = f"https://api.lunarcrush.com/v2?data_points=100&change=1w&data=assets&symbol=BTC&key={api_key}"
    response = requests.get(url)
    assets = response.json()
    
    return assets

In [10]:
final_df = pd.DataFrame(columns=parameters)

In [11]:
i=0
while i < 60:
    assets=getdata()
    assets_data = {
    
    "symbol": assets["data"][0]["symbol"],
    "price": assets["data"][0]["price"],
    "timeSeries":[]
    }    
    cleaned=cleandata(assets,assets_data)
    temp_df = pd.DataFrame(cleaned["timeSeries"])
    temp_df["time"]=pd.to_datetime(temp_df["time"],unit="s")

    final_df = pd.concat([final_df,temp_df], axis=0,ignore_index=True)
   
    display(final_df)
    final_df.to_csv("final_df.csv")
    i += 1
    time.sleep(60)

,asset_id,time,open,close,high,low,volume,market_cap,reddit_posts,reddit_posts_score,...,market_cap_rank,percent_change_24h_rank,volume_24h_rank,social_volume_24h_rank,social_score_24h_rank,medium,youtube,social_contributors,social_volume,price_btc
0,1,2021-10-05 00:00:00,49291.614867,49580.869981,49836.387190,49137.142925,2.629191e+09,934004877123,57,1261,...,1,611,3,1,1,NaN,NaN,10642,13065,1
1,1,2021-10-05 01:00:00,49578.481326,49319.445243,49617.550634,49263.197503,1.680776e+09,929262668689,48,536,...,1,635,3,1,1,NaN,NaN,9794,12698,1
2,1,2021-10-05 02:00:00,49330.907134,49418.877472,49450.576022,49198.099169,1.547719e+09,930076839056,36,167,...,1,630,3,1,1,NaN,NaN,9715,10366,1
3,1,2021-10-05 03:00:00,49419.776938,49400.596326,49557.142736,49267.414247,1.489600e+09,929620761272,39,164,...,1,664,3,1,1,NaN,NaN,9973,11032,1
4,1,2021-10-05 04:00:00,49397.449653,49268.924604,49397.449653,49204.091696,1.344814e+09,927048549205,65,146,...,1,721,3,1,1,NaN,NaN,10795,10698,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,1,2021-10-09 00:00:00,54129.114890,54436.476765,54436.476765,53924.582778,1.708143e+09,1022365284371,69,641,...,1,1198,3,1,1,NaN,NaN,9561,9327,1
97,1,2021-10-09 01:00:00,54450.750262,54191.446186,54450.750262,54068.662813,1.603428e+09,1020482132820,60,434,...,1,1820,3,1,1,NaN,NaN,9407,9942,1
98,1,2021-10-09 02:00:00,54170.176149,54311.070108,54329.472331,54058.578793,1.633519e+09,1021870131369,54,347,...,1,1094,3,1,1,1.0,NaN,8861,8617,1
99,1,2021-10-09 03:00:00,54323.678426,54726.403047,54834.854111,54323.678426,1.850238e+09,1030994983532,93,200,...,1,902,3,1,1,1.0,NaN,9216,8720,1
100,1,2021-10-09 04:00:00,54806.985462,54806.613561,54828.283322,54791.220302,3.873989e+08,1030493186719,35,43,...,1,896,3,1,1,1.0,NaN,2296,9342,1

,asset_id,time,open,close,high,low,volume,market_cap,reddit_posts,reddit_posts_score,...,market_cap_rank,percent_change_24h_rank,volume_24h_rank,social_volume_24h_rank,social_score_24h_rank,medium,youtube,social_contributors,social_volume,price_btc
0,1,2021-10-05 00:00:00,49291.614867,49580.869981,49836.387190,49137.142925,2.629191e+09,934004877123,57,1261,...,1,611,3,1,1,NaN,NaN,10642,13065,1
1,1,2021-10-05 01:00:00,49578.481326,49319.445243,49617.550634,49263.197503,1.680776e+09,929262668689,48,536,...,1,635,3,1,1,NaN,NaN,9794,12698,1
2,1,2021-10-05 02:00:00,49330.907134,49418.877472,49450.576022,49198.099169,1.547719e+09,930076839056,36,167,...,1,630,3,1,1,NaN,NaN,9715,10366,1
3,1,2021-10-05 03:00:00,49419.776938,49400.596326,49557.142736,49267.414247,1.489600e+09,929620761272,39,164,...,1,664,3,1,1,NaN,NaN,9973,11032,1
4,1,2021-10-05 04:00:00,49397.449653,49268.924604,49397.449653,49204.091696,1.344814e+09,927048549205,65,146,...,1,721,3,1,1,NaN,NaN,10795,10698,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,1,2021-10-09 00:00:00,54129.114890,54436.476765,54436.476765,53924.582778,1.708143e+09,1022365284371,69,641,...,1,1198,3,1,1,NaN,NaN,9561,9327,1
198,1,2021-10-09 01:00:00,54450.750262,54191.446186,54450.750262,54068.662813,1.603428e+09,1020482132820,60,434,...,1,1820,3,1,1,NaN,NaN,9407,9942,1
199,1,2021-10-09 02:00:00,54170.176149,54311.070108,54329.472331,54058.578793,1.633519e+09,1021870131369,54,347,...,1,1094,3,1,1,1.0,NaN,8861,8617,1
200,1,2021-10-09 03:00:00,54323.678426,54726.403047,54834.854111,54323.678426,1.850238e+09,1030994983532,93,200,...,1,902,3,1,1,1.0,NaN,9216,8720,1
201,1,2021-10-09 04:00:00,54806.985462,54803.647238,54828.283322,54791.220302,3.873989e+08,1032420865059,30,38,...,1,938,3,1,1,1.0,NaN,2296,9315,1

,asset_id,time,open,close,high,low,volume,market_cap,reddit_posts,reddit_posts_score,...,market_cap_rank,percent_change_24h_rank,volume_24h_rank,social_volume_24h_rank,social_score_24h_rank,medium,youtube,social_contributors,social_volume,price_btc
0,1,2021-10-05 00:00:00,49291.614867,49580.869981,49836.387190,49137.142925,2.629191e+09,934004877123,57,1261,...,1,611,3,1,1,NaN,NaN,10642,13065,1
1,1,2021-10-05 01:00:00,49578.481326,49319.445243,49617.550634,49263.197503,1.680776e+09,929262668689,48,536,...,1,635,3,1,1,NaN,NaN,9794,12698,1
2,1,2021-10-05 02:00:00,49330.907134,49418.877472,49450.576022,49198.099169,1.547719e+09,930076839056,36,167,...,1,630,3,1,1,NaN,NaN,9715,10366,1
3,1,2021-10-05 03:00:00,49419.776938,49400.596326,49557.142736,49267.414247,1.489600e+09,929620761272,39,164,...,1,664,3,1,1,NaN,NaN,9973,11032,1
4,1,2021-10-05 04:00:00,49397.449653,49268.924604,49397.449653,49204.091696,1.344814e+09,927048549205,65,146,...,1,721,3,1,1,NaN,NaN,10795,10698,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,1,2021-10-09 00:00:00,54129.114890,54436.476765,54436.476765,53924.582778,1.708143e+09,1022365284371,69,641,...,1,1198,3,1,1,NaN,NaN,9561,9327,1
299,1,2021-10-09 01:00:00,54450.750262,54191.446186,54450.750262,54068.662813,1.603428e+09,1020482132820,60,434,...,1,1820,3,1,1,NaN,NaN,9407,9942,1
300,1,2021-10-09 02:00:00,54170.176149,54311.070108,54329.472331,54058.578793,1.633519e+09,1021870131369,54,347,...,1,1094,3,1,1,1.0,NaN,8861,8617,1
301,1,2021-10-09 03:00:00,54323.678426,54726.403047,54834.854111,54323.678426,1.850238e+09,1030994983532,93,200,...,1,902,3,1,1,1.0,NaN,9216,8720,1
302,1,2021-10-09 04:00:00,54806.985462,54803.647238,54828.283322,54791.220302,3.873989e+08,1032420865059,30,38,...,1,938,3,1,1,1.0,NaN,2296,9315,1

,asset_id,time,open,close,high,low,volume,market_cap,reddit_posts,reddit_posts_score,...,market_cap_rank,percent_change_24h_rank,volume_24h_rank,social_volume_24h_rank,social_score_24h_rank,medium,youtube,social_contributors,social_volume,price_btc
0,1,2021-10-05 00:00:00,49291.614867,49580.869981,49836.387190,49137.142925,2.629191e+09,934004877123,57,1261,...,1,611,3,1,1,NaN,NaN,10642,13065,1
1,1,2021-10-05 01:00:00,49578.481326,49319.445243,49617.550634,49263.197503,1.680776e+09,929262668689,48,536,...,1,635,3,1,1,NaN,NaN,9794,12698,1
2,1,2021-10-05 02:00:00,49330.907134,49418.877472,49450.576022,49198.099169,1.547719e+09,930076839056,36,167,...,1,630,3,1,1,NaN,NaN,9715,10366,1
3,1,2021-10-05 03:00:00,49419.776938,49400.596326,49557.142736,49267.414247,1.489600e+09,929620761272,39,164,...,1,664,3,1,1,NaN,NaN,9973,11032,1
4,1,2021-10-05 04:00:00,49397.449653,49268.924604,49397.449653,49204.091696,1.344814e+09,927048549205,65,146,...,1,721,3,1,1,NaN,NaN,10795,10698,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399,1,2021-10-09 00:00:00,54129.114890,54436.476765,54436.476765,53924.582778,1.708143e+09,1022365284371,69,641,...,1,1198,3,1,1,NaN,NaN,9561,9327,1
400,1,2021-10-09 01:00:00,54450.750262,54191.446186,54450.750262,54068.662813,1.603428e+09,1020482132820,60,434,...,1,1820,3,1,1,NaN,NaN,9407,9942,1
401,1,2021-10-09 02:00:00,54170.176149,54311.070108,54329.472331,54058.578793,1.633519e+09,1021870131369,54,347,...,1,1094,3,1,1,1.0,NaN,8861,8617,1
402,1,2021-10-09 03:00:00,54323.678426,54726.403047,54834.854111,54323.678426,1.850238e+09,1030994983532,93,200,...,1,902,3,1,1,1.0,NaN,9216,8720,1
403,1,2021-10-09 04:00:00,54806.985462,54800.140714,54828.283322,54791.220302,3.873989e+08,1032354807254,26,33,...,1,938,3,1,1,1.0,NaN,2296,9267,1

,asset_id,time,open,close,high,low,volume,market_cap,reddit_posts,reddit_posts_score,...,market_cap_rank,percent_change_24h_rank,volume_24h_rank,social_volume_24h_rank,social_score_24h_rank,medium,youtube,social_contributors,social_volume,price_btc
0,1,2021-10-05 00:00:00,49291.614867,49580.869981,49836.387190,49137.142925,2.629191e+09,934004877123,57,1261,...,1,611,3,1,1,NaN,NaN,10642,13065,1
1,1,2021-10-05 01:00:00,49578.481326,49319.445243,49617.550634,49263.197503,1.680776e+09,929262668689,48,536,...,1,635,3,1,1,NaN,NaN,9794,12698,1
2,1,2021-10-05 02:00:00,49330.907134,49418.877472,49450.576022,49198.099169,1.547719e+09,930076839056,36,167,...,1,630,3,1,1,NaN,NaN,9715,10366,1
3,1,2021-10-05 03:00:00,49419.776938,49400.596326,49557.142736,49267.414247,1.489600e+09,929620761272,39,164,...,1,664,3,1,1,NaN,NaN,9973,11032,1
4,1,2021-10-05 04:00:00,49397.449653,49268.924604,49397.449653,49204.091696,1.344814e+09,927048549205,65,146,...,1,721,3,1,1,NaN,NaN,10795,10698,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,1,2021-10-09 00:00:00,54129.114890,54436.476765,54436.476765,53924.582778,1.708152e+09,1022365284371,69,641,...,1,1198,3,1,1,NaN,NaN,9561,9327,1
501,1,2021-10-09 01:00:00,54450.750262,54191.446186,54450.750262,54068.662813,1.603426e+09,1020482132820,60,434,...,1,1820,3,1,1,NaN,NaN,9407,9942,1
502,1,2021-10-09 02:00:00,54170.175595,54311.069255,54329.471528,54058.577650,1.645809e+09,1021870131369,54,347,...,1,1094,3,1,1,1.0,NaN,8861,8617,1
503,1,2021-10-09 03:00:00,54325.199039,54728.575963,54835.875657,54325.199039,1.870257e+09,1030994983532,93,200,...,1,902,3,1,1,1.0,NaN,9216,8720,1
504,1,2021-10-09 04:00:00,54626.807259,54715.548850,54715.548850,54587.020634,5.529817e+08,1032354807254,26,33,...,1,938,3,1,1,1.0,NaN,2296,9267,1

,asset_id,time,open,close,high,low,volume,market_cap,reddit_posts,reddit_posts_score,...,market_cap_rank,percent_change_24h_rank,volume_24h_rank,social_volume_24h_rank,social_score_24h_rank,medium,youtube,social_contributors,social_volume,price_btc
0,1,2021-10-05 00:00:00,49291.614867,49580.869981,49836.387190,49137.142925,2.629191e+09,934004877123,57,1261,...,1,611,3,1,1,NaN,NaN,10642,13065,1
1,1,2021-10-05 01:00:00,49578.481326,49319.445243,49617.550634,49263.197503,1.680776e+09,929262668689,48,536,...,1,635,3,1,1,NaN,NaN,9794,12698,1
2,1,2021-10-05 02:00:00,49330.907134,49418.877472,49450.576022,49198.099169,1.547719e+09,930076839056,36,167,...,1,630,3,1,1,NaN,NaN,9715,10366,1
3,1,2021-10-05 03:00:00,49419.776938,49400.596326,49557.142736,49267.414247,1.489600e+09,929620761272,39,164,...,1,664,3,1,1,NaN,NaN,9973,11032,1
4,1,2021-10-05 04:00:00,49397.449653,49268.924604,49397.449653,49204.091696,1.344814e+09,927048549205,65,146,...,1,721,3,1,1,NaN,NaN,10795,10698,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,1,2021-10-09 00:00:00,54129.114890,54436.476765,54436.476765,53924.582778,1.708152e+09,1022365284371,69,641,...,1,1198,3,1,1,NaN,NaN,9561,9327,1
602,1,2021-10-09 01:00:00,54450.750262,54191.446186,54450.750262,54068.662813,1.603426e+09,1020482132820,60,434,...,1,1820,3,1,1,NaN,NaN,9407,9942,1
603,1,2021-10-09 02:00:00,54170.175595,54311.069255,54329.471528,54058.577650,1.645809e+09,1021870131369,54,347,...,1,1094,3,1,1,1.0,NaN,8861,8617,1
604,1,2021-10-09 03:00:00,54325.199039,54728.575963,54835.875657,54325.199039,1.870257e+09,1030994983532,93,200,...,1,902,3,1,1,1.0,NaN,9216,8720,1
605,1,2021-10-09 04:00:00,54626.807259,54715.548850,54715.548850,54587.020634,5.529817e+08,1032354807254,26,33,...,1,938,3,1,1,1.0,NaN,2296,9267,1

,asset_id,time,open,close,high,low,volume,market_cap,reddit_posts,reddit_posts_score,...,market_cap_rank,percent_change_24h_rank,volume_24h_rank,social_volume_24h_rank,social_score_24h_rank,medium,youtube,social_contributors,social_volume,price_btc
0,1,2021-10-05 00:00:00,49291.614867,49580.869981,49836.387190,49137.142925,2.629191e+09,934004877123,57,1261,...,1,611,3,1,1,NaN,NaN,10642,13065,1
1,1,2021-10-05 01:00:00,49578.481326,49319.445243,49617.550634,49263.197503,1.680776e+09,929262668689,48,536,...,1,635,3,1,1,NaN,NaN,9794,12698,1
2,1,2021-10-05 02:00:00,49330.907134,49418.877472,49450.576022,49198.099169,1.547719e+09,930076839056,36,167,...,1,630,3,1,1,NaN,NaN,9715,10366,1
3,1,2021-10-05 03:00:00,49419.776938,49400.596326,49557.142736,49267.414247,1.489600e+09,929620761272,39,164,...,1,664,3,1,1,NaN,NaN,9973,11032,1
4,1,2021-10-05 04:00:00,49397.449653,49268.924604,49397.449653,49204.091696,1.344814e+09,927048549205,65,146,...,1,721,3,1,1,NaN,NaN,10795,10698,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
702,1,2021-10-09 00:00:00,54129.114890,54436.476765,54436.476765,53924.582778,1.708152e+09,1022365284371,69,641,...,1,1198,3,1,1,NaN,NaN,9561,9328,1
703,1,2021-10-09 01:00:00,54450.750262,54191.446186,54450.750262,54068.662813,1.603426e+09,1020482132820,60,434,...,1,1820,3,1,1,NaN,NaN,9408,9942,1
704,1,2021-10-09 02:00:00,54170.175595,54311.069255,54329.471528,54058.577650,1.645809e+09,1021870131369,54,347,...,1,1094,3,1,1,1.0,NaN,8861,8617,1
705,1,2021-10-09 03:00:00,54325.199039,54728.575963,54835.875657,54325.199039,1.870257e+09,1030994983532,93,200,...,1,902,3,1,1,1.0,NaN,9216,8720,1
706,1,2021-10-09 04:00:00,54626.807259,54715.548850,54715.548850,54587.020634,5.529817e+08,1032354807254,20,26,...,1,887,3,1,1,1.0,NaN,3357,9185,1

,asset_id,time,open,close,high,low,volume,market_cap,reddit_posts,reddit_posts_score,...,market_cap_rank,percent_change_24h_rank,volume_24h_rank,social_volume_24h_rank,social_score_24h_rank,medium,youtube,social_contributors,social_volume,price_btc
0,1,2021-10-05 00:00:00,49291.614867,49580.869981,49836.387190,49137.142925,2.629191e+09,934004877123,57,1261,...,1,611,3,1,1,NaN,NaN,10642,13065,1
1,1,2021-10-05 01:00:00,49578.481326,49319.445243,49617.550634,49263.197503,1.680776e+09,929262668689,48,536,...,1,635,3,1,1,NaN,NaN,9794,12698,1
2,1,2021-10-05 02:00:00,49330.907134,49418.877472,49450.576022,49198.099169,1.547719e+09,930076839056,36,167,...,1,630,3,1,1,NaN,NaN,9715,10366,1
3,1,2021-10-05 03:00:00,49419.776938,49400.596326,49557.142736,49267.414247,1.489600e+09,929620761272,39,164,...,1,664,3,1,1,NaN,NaN,9973,11032,1
4,1,2021-10-05 04:00:00,49397.449653,49268.924604,49397.449653,49204.091696,1.344814e+09,927048549205,65,146,...,1,721,3,1,1,NaN,NaN,10795,10698,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
803,1,2021-10-09 00:00:00,54129.114890,54436.476765,54436.476765,53924.582778,1.708152e+09,1022365284371,69,641,...,1,1198,3,1,1,NaN,NaN,9561,9328,1
804,1,2021-10-09 01:00:00,54450.750262,54191.446186,54450.750262,54068.662813,1.603426e+09,1020482132820,60,434,...,1,1820,3,1,1,NaN,NaN,9408,9942,1
805,1,2021-10-09 02:00:00,54170.175595,54311.069255,54329.471528,54058.577650,1.645809e+09,1021870131369,54,347,...,1,1094,3,1,1,1.0,NaN,8861,8617,1
806,1,2021-10-09 03:00:00,54325.199039,54728.575963,54835.875657,54325.199039,1.870257e+09,1030994983532,93,200,...,1,902,3,1,1,1.0,NaN,9216,8720,1
807,1,2021-10-09 04:00:00,54626.807259,54715.548850,54715.548850,54587.020634,5.529817e+08,1032354807254,20,26,...,1,887,3,1,1,1.0,NaN,3357,9185,1

,asset_id,time,open,close,high,low,volume,market_cap,reddit_posts,reddit_posts_score,...,market_cap_rank,percent_change_24h_rank,volume_24h_rank,social_volume_24h_rank,social_score_24h_rank,medium,youtube,social_contributors,social_volume,price_btc
0,1,2021-10-05 00:00:00,49291.614867,49580.869981,49836.387190,49137.142925,2.629191e+09,934004877123,57,1261,...,1,611,3,1,1,NaN,NaN,10642,13065,1
1,1,2021-10-05 01:00:00,49578.481326,49319.445243,49617.550634,49263.197503,1.680776e+09,929262668689,48,536,...,1,635,3,1,1,NaN,NaN,9794,12698,1
2,1,2021-10-05 02:00:00,49330.907134,49418.877472,49450.576022,49198.099169,1.547719e+09,930076839056,36,167,...,1,630,3,1,1,NaN,NaN,9715,10366,1
3,1,2021-10-05 03:00:00,49419.776938,49400.596326,49557.142736,49267.414247,1.489600e+09,929620761272,39,164,...,1,664,3,1,1,NaN,NaN,9973,11032,1
4,1,2021-10-05 04:00:00,49397.449653,49268.924604,49397.449653,49204.091696,1.344814e+09,927048549205,65,146,...,1,721,3,1,1,NaN,NaN,10795,10698,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
904,1,2021-10-09 00:00:00,54129.114890,54436.476765,54436.476765,53924.582778,1.708152e+09,1022365284371,69,641,...,1,1198,3,1,1,NaN,NaN,9561,9328,1
905,1,2021-10-09 01:00:00,54450.750262,54191.446186,54450.750262,54068.662813,1.603426e+09,1020482132820,60,434,...,1,1820,3,1,1,NaN,NaN,9408,9942,1
906,1,2021-10-09 02:00:00,54170.175595,54311.069255,54329.471528,54058.577650,1.645809e+09,1021870131369,54,347,...,1,1094,3,1,1,1.0,NaN,8861,8617,1
907,1,2021-10-09 03:00:00,54325.199039,54728.575963,54835.875657,54325.199039,1.870257e+09,1030994983532,93,200,...,1,902,3,1,1,1.0,NaN,9216,8720,1
908,1,2021-10-09 04:00:00,54626.807259,54715.548850,54715.548850,54587.020634,5.529817e+08,1032354807254,20,26,...,1,887,3,1,1,1.0,NaN,3357,9185,1

,asset_id,time,open,close,high,low,volume,market_cap,reddit_posts,reddit_posts_score,...,market_cap_rank,percent_change_24h_rank,volume_24h_rank,social_volume_24h_rank,social_score_24h_rank,medium,youtube,social_contributors,social_volume,price_btc
0,1,2021-10-05 00:00:00,49291.614867,49580.869981,49836.387190,49137.142925,2.629191e+09,934004877123,57,1261,...,1,611,3,1,1,NaN,NaN,10642,13065,1
1,1,2021-10-05 01:00:00,49578.481326,49319.445243,49617.550634,49263.197503,1.680776e+09,929262668689,48,536,...,1,635,3,1,1,NaN,NaN,9794,12698,1
2,1,2021-10-05 02:00:00,49330.907134,49418.877472,49450.576022,49198.099169,1.547719e+09,930076839056,36,167,...,1,630,3,1,1,NaN,NaN,9715,10366,1
3,1,2021-10-05 03:00:00,49419.776938,49400.596326,49557.142736,49267.414247,1.489600e+09,929620761272,39,164,...,1,664,3,1,1,NaN,NaN,9973,11032,1
4,1,2021-10-05 04:00:00,49397.449653,49268.924604,49397.449653,49204.091696,1.344814e+09,927048549205,65,146,...,1,721,3,1,1,NaN,NaN,10795,10698,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005,1,2021-10-09 00:00:00,54129.114890,54436.476765,54436.476765,53924.582778,1.708152e+09,1022365284371,69,641,...,1,1198,3,1,1,NaN,NaN,9561,9328,1
1006,1,2021-10-09 01:00:00,54450.750262,54191.446186,54450.750262,54068.662813,1.603426e+09,1020482132820,60,434,...,1,1820,3,1,1,NaN,NaN,9408,9942,1
1007,1,2021-10-09 02:00:00,54170.175595,54311.069255,54329.471528,54058.577650,1.645809e+09,1021870131369,54,347,...,1,1094,3,1,1,1.0,NaN,8861,8617,1
1008,1,2021-10-09 03:00:00,54325.199039,54728.575963,54835.875657,54325.199039,1.870257e+09,1030994983532,93,200,...,1,902,3,1,1,1.0,NaN,9216,8720,1
1009,1,2021-10-09 04:00:00,54626.807259,54820.332507,54715.548850,54587.020634,5.529817e+08,1032735191203,14,20,...,1,885,3,1,1,1.0,NaN,3356,9077,1

,asset_id,time,open,close,high,low,volume,market_cap,reddit_posts,reddit_posts_score,...,market_cap_rank,percent_change_24h_rank,volume_24h_rank,social_volume_24h_rank,social_score_24h_rank,medium,youtube,social_contributors,social_volume,price_btc
0,1,2021-10-05 00:00:00,49291.614867,49580.869981,49836.387190,49137.142925,2.629191e+09,934004877123,57,1261,...,1,611,3,1,1,NaN,NaN,10642,13065,1
1,1,2021-10-05 01:00:00,49578.481326,49319.445243,49617.550634,49263.197503,1.680776e+09,929262668689,48,536,...,1,635,3,1,1,NaN,NaN,9794,12698,1
2,1,2021-10-05 02:00:00,49330.907134,49418.877472,49450.576022,49198.099169,1.547719e+09,930076839056,36,167,...,1,630,3,1,1,NaN,NaN,9715,10366,1
3,1,2021-10-05 03:00:00,49419.776938,49400.596326,49557.142736,49267.414247,1.489600e+09,929620761272,39,164,...,1,664,3,1,1,NaN,NaN,9973,11032,1
4,1,2021-10-05 04:00:00,49397.449653,49268.924604,49397.449653,49204.091696,1.344814e+09,927048549205,65,146,...,1,721,3,1,1,NaN,NaN,10795,10698,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1106,1,2021-10-09 00:00:00,54129.114890,54436.476765,54436.476765,53924.582778,1.708152e+09,1022365284371,69,641,...,1,1198,3,1,1,NaN,NaN,9561,9328,1
1107,1,2021-10-09 01:00:00,54450.750262,54191.446186,54450.750262,54068.662813,1.603426e+09,1020482132820,60,434,...,1,1820,3,1,1,NaN,NaN,9408,9942,1
1108,1,2021-10-09 02:00:00,54170.175595,54311.069255,54329.471528,54058.577650,1.645809e+09,1021870131369,54,347,...,1,1094,3,1,1,1.0,NaN,8861,8617,1
1109,1,2021-10-09 03:00:00,54325.199039,54728.575963,54835.875657,54325.199039,1.870257e+09,1030994983532,93,200,...,1,902,3,1,1,1.0,NaN,9216,8720,1
1110,1,2021-10-09 04:00:00,54626.807259,54820.332507,54715.548850,54587.020634,5.529817e+08,1032735191203,14,20,...,1,885,3,1,1,1.0,NaN,3356,9077,1

,asset_id,time,open,close,high,low,volume,market_cap,reddit_posts,reddit_posts_score,...,market_cap_rank,percent_change_24h_rank,volume_24h_rank,social_volume_24h_rank,social_score_24h_rank,medium,youtube,social_contributors,social_volume,price_btc
0,1,2021-10-05 00:00:00,49291.614867,49580.869981,49836.387190,49137.142925,2.629191e+09,934004877123,57,1261,...,1,611,3,1,1,NaN,NaN,10642,13065,1
1,1,2021-10-05 01:00:00,49578.481326,49319.445243,49617.550634,49263.197503,1.680776e+09,929262668689,48,536,...,1,635,3,1,1,NaN,NaN,9794,12698,1
2,1,2021-10-05 02:00:00,49330.907134,49418.877472,49450.576022,49198.099169,1.547719e+09,930076839056,36,167,...,1,630,3,1,1,NaN,NaN,9715,10366,1
3,1,2021-10-05 03:00:00,49419.776938,49400.596326,49557.142736,49267.414247,1.489600e+09,929620761272,39,164,...,1,664,3,1,1,NaN,NaN,9973,11032,1
4,1,2021-10-05 04:00:00,49397.449653,49268.924604,49397.449653,49204.091696,1.344814e+09,927048549205,65,146,...,1,721,3,1,1,NaN,NaN,10795,10698,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1207,1,2021-10-09 00:00:00,54129.114890,54436.476765,54436.476765,53924.582778,1.708152e+09,1022365284371,69,641,...,1,1198,3,1,1,NaN,NaN,9561,9328,1
1208,1,2021-10-09 01:00:00,54450.750262,54191.446186,54450.750262,54068.662813,1.603426e+09,1020482132820,60,434,...,1,1820,3,1,1,NaN,NaN,9408,9942,1
1209,1,2021-10-09 02:00:00,54170.175595,54311.069255,54329.471528,54058.577650,1.645809e+09,1021870131369,54,347,...,1,1094,3,1,1,1.0,NaN,8861,8617,1
1210,1,2021-10-09 03:00:00,54325.199039,54728.575963,54835.875657,54325.199039,1.870257e+09,1030994983532,93,200,...,1,902,3,1,1,1.0,NaN,9216,8720,1
1211,1,2021-10-09 04:00:00,54626.807259,54818.871930,54715.548850,54587.020634,5.529817e+08,1032707676071,10,17,...,1,888,3,1,1,1.0,NaN,3356,9172,1

,asset_id,time,open,close,high,low,volume,market_cap,reddit_posts,reddit_posts_score,...,market_cap_rank,percent_change_24h_rank,volume_24h_rank,social_volume_24h_rank,social_score_24h_rank,medium,youtube,social_contributors,social_volume,price_btc
0,1,2021-10-05 00:00:00,49291.614867,49580.869981,49836.387190,49137.142925,2.629191e+09,934004877123,57,1261,...,1,611,3,1,1,NaN,NaN,10642,13065,1
1,1,2021-10-05 01:00:00,49578.481326,49319.445243,49617.550634,49263.197503,1.680776e+09,929262668689,48,536,...,1,635,3,1,1,NaN,NaN,9794,12698,1
2,1,2021-10-05 02:00:00,49330.907134,49418.877472,49450.576022,49198.099169,1.547719e+09,930076839056,36,167,...,1,630,3,1,1,NaN,NaN,9715,10366,1
3,1,2021-10-05 03:00:00,49419.776938,49400.596326,49557.142736,49267.414247,1.489600e+09,929620761272,39,164,...,1,664,3,1,1,NaN,NaN,9973,11032,1
4,1,2021-10-05 04:00:00,49397.449653,49268.924604,49397.449653,49204.091696,1.344814e+09,927048549205,65,146,...,1,721,3,1,1,NaN,NaN,10795,10698,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1308,1,2021-10-09 00:00:00,54129.114890,54436.476765,54436.476765,53924.582778,1.708152e+09,1022365284371,69,641,...,1,1198,3,1,1,NaN,NaN,9561,9328,1
1309,1,2021-10-09 01:00:00,54450.750262,54191.446186,54450.750262,54068.662813,1.603426e+09,1020482132820,60,434,...,1,1820,3,1,1,NaN,NaN,9408,9942,1
1310,1,2021-10-09 02:00:00,54170.175595,54311.069255,54329.471528,54058.577650,1.645809e+09,1021870131369,54,347,...,1,1094,3,1,1,1.0,NaN,8861,8617,1
1311,1,2021-10-09 03:00:00,54325.199039,54728.575963,54835.875657,54325.199039,1.870257e+09,1030994983532,93,200,...,1,902,3,1,1,1.0,NaN,9216,8720,1
1312,1,2021-10-09 04:00:00,54626.807259,54818.871930,54715.548850,54587.020634,5.529817e+08,1032707676071,10,17,...,1,888,3,1,1,1.0,NaN,3356,9172,1

,asset_id,time,open,close,high,low,volume,market_cap,reddit_posts,reddit_posts_score,...,market_cap_rank,percent_change_24h_rank,volume_24h_rank,social_volume_24h_rank,social_score_24h_rank,medium,youtube,social_contributors,social_volume,price_btc
0,1,2021-10-05 00:00:00,49291.614867,49580.869981,49836.387190,49137.142925,2.629191e+09,934004877123,57,1261,...,1,611,3,1,1,NaN,NaN,10642,13065,1
1,1,2021-10-05 01:00:00,49578.481326,49319.445243,49617.550634,49263.197503,1.680776e+09,929262668689,48,536,...,1,635,3,1,1,NaN,NaN,9794,12698,1
2,1,2021-10-05 02:00:00,49330.907134,49418.877472,49450.576022,49198.099169,1.547719e+09,930076839056,36,167,...,1,630,3,1,1,NaN,NaN,9715,10366,1
3,1,2021-10-05 03:00:00,49419.776938,49400.596326,49557.142736,49267.414247,1.489600e+09,929620761272,39,164,...,1,664,3,1,1,NaN,NaN,9973,11032,1
4,1,2021-10-05 04:00:00,49397.449653,49268.924604,49397.449653,49204.091696,1.344814e+09,927048549205,65,146,...,1,721,3,1,1,NaN,NaN,10795,10698,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1409,1,2021-10-09 00:00:00,54129.114890,54436.476765,54436.476765,53924.582778,1.708152e+09,1022365284371,69,641,...,1,1198,3,1,1,NaN,NaN,9561,9328,1
1410,1,2021-10-09 01:00:00,54450.750262,54191.446186,54450.750262,54068.662813,1.603426e+09,1020482132820,60,434,...,1,1820,3,1,1,NaN,NaN,9408,9942,1
1411,1,2021-10-09 02:00:00,54170.175595,54311.069255,54329.471528,54058.577650,1.645809e+09,1021870131369,54,347,...,1,1094,3,1,1,1.0,NaN,8861,8617,1
1412,1,2021-10-09 03:00:00,54325.199039,54728.575963,54835.875657,54325.199039,1.870257e+09,1030994983532,93,200,...,1,902,3,1,1,1.0,NaN,9216,8720,1
1413,1,2021-10-09 04:00:00,54626.807259,54812.503154,54715.548850,54587.020634,5.529817e+08,1032587697611,8,11,...,1,885,3,1,1,1.0,NaN,3833,9191,1

,asset_id,time,open,close,high,low,volume,market_cap,reddit_posts,reddit_posts_score,...,market_cap_rank,percent_change_24h_rank,volume_24h_rank,social_volume_24h_rank,social_score_24h_rank,medium,youtube,social_contributors,social_volume,price_btc
0,1,2021-10-05 00:00:00,49291.614867,49580.869981,49836.387190,49137.142925,2.629191e+09,934004877123,57,1261,...,1,611,3,1,1,NaN,NaN,10642,13065,1
1,1,2021-10-05 01:00:00,49578.481326,49319.445243,49617.550634,49263.197503,1.680776e+09,929262668689,48,536,...,1,635,3,1,1,NaN,NaN,9794,12698,1
2,1,2021-10-05 02:00:00,49330.907134,49418.877472,49450.576022,49198.099169,1.547719e+09,930076839056,36,167,...,1,630,3,1,1,NaN,NaN,9715,10366,1
3,1,2021-10-05 03:00:00,49419.776938,49400.596326,49557.142736,49267.414247,1.489600e+09,929620761272,39,164,...,1,664,3,1,1,NaN,NaN,9973,11032,1
4,1,2021-10-05 04:00:00,49397.449653,49268.924604,49397.449653,49204.091696,1.344814e+09,927048549205,65,146,...,1,721,3,1,1,NaN,NaN,10795,10698,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1510,1,2021-10-09 00:00:00,54129.114890,54436.476765,54436.476765,53924.582778,1.708152e+09,1022365284371,69,641,...,1,1198,3,1,1,NaN,NaN,9561,9328,1
1511,1,2021-10-09 01:00:00,54450.750262,54191.446186,54450.750262,54068.662813,1.603426e+09,1020482132820,60,434,...,1,1820,3,1,1,NaN,NaN,9408,9942,1
1512,1,2021-10-09 02:00:00,54170.175595,54311.069255,54329.471528,54058.577650,1.645809e+09,1021870131369,54,347,...,1,1094,3,1,1,1.0,NaN,8861,8617,1
1513,1,2021-10-09 03:00:00,54325.199039,54728.575963,54835.875657,54325.199039,1.870257e+09,1030994983532,93,200,...,1,902,3,1,1,1.0,NaN,9216,8720,1
1514,1,2021-10-09 04:00:00,54626.807259,54812.503154,54715.548850,54587.020634,5.529817e+08,1032587697611,8,11,...,1,885,3,1,1,1.0,NaN,3833,9191,1

,asset_id,time,open,close,high,low,volume,market_cap,reddit_posts,reddit_posts_score,...,market_cap_rank,percent_change_24h_rank,volume_24h_rank,social_volume_24h_rank,social_score_24h_rank,medium,youtube,social_contributors,social_volume,price_btc
0,1,2021-10-05 00:00:00,49291.614867,49580.869981,49836.387190,49137.142925,2.629191e+09,934004877123,57,1261,...,1,611,3,1,1,NaN,NaN,10642,13065,1
1,1,2021-10-05 01:00:00,49578.481326,49319.445243,49617.550634,49263.197503,1.680776e+09,929262668689,48,536,...,1,635,3,1,1,NaN,NaN,9794,12698,1
2,1,2021-10-05 02:00:00,49330.907134,49418.877472,49450.576022,49198.099169,1.547719e+09,930076839056,36,167,...,1,630,3,1,1,NaN,NaN,9715,10366,1
3,1,2021-10-05 03:00:00,49419.776938,49400.596326,49557.142736,49267.414247,1.489600e+09,929620761272,39,164,...,1,664,3,1,1,NaN,NaN,9973,11032,1
4,1,2021-10-05 04:00:00,49397.449653,49268.924604,49397.449653,49204.091696,1.344814e+09,927048549205,65,146,...,1,721,3,1,1,NaN,NaN,10795,10698,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1611,1,2021-10-09 00:00:00,54129.114890,54436.476765,54436.476765,53924.582778,1.708152e+09,1022365284371,69,641,...,1,1198,3,1,1,NaN,NaN,9561,9328,1
1612,1,2021-10-09 01:00:00,54450.750262,54191.446186,54450.750262,54068.662813,1.603426e+09,1020482132820,60,434,...,1,1820,3,1,1,NaN,NaN,9408,9942,1
1613,1,2021-10-09 02:00:00,54170.175595,54311.069255,54329.471528,54058.577650,1.645809e+09,1021870131369,54,347,...,1,1094,3,1,1,1.0,NaN,8861,8617,1
1614,1,2021-10-09 03:00:00,54325.199039,54728.575963,54835.875657,54325.199039,1.870257e+09,1030994983532,93,200,...,1,902,3,1,1,1.0,NaN,9216,8720,1
1615,1,2021-10-09 04:00:00,54626.807259,54812.503154,54715.548850,54587.020634,5.529817e+08,1032587697611,8,11,...,1,885,3,1,1,1.0,NaN,3833,9191,1

,asset_id,time,open,close,high,low,volume,market_cap,reddit_posts,reddit_posts_score,...,market_cap_rank,percent_change_24h_rank,volume_24h_rank,social_volume_24h_rank,social_score_24h_rank,medium,youtube,social_contributors,social_volume,price_btc
0,1,2021-10-05 00:00:00,49291.614867,49580.869981,49836.387190,49137.142925,2.629191e+09,934004877123,57,1261,...,1,611,3,1,1,NaN,NaN,10642,13065,1
1,1,2021-10-05 01:00:00,49578.481326,49319.445243,49617.550634,49263.197503,1.680776e+09,929262668689,48,536,...,1,635,3,1,1,NaN,NaN,9794,12698,1
2,1,2021-10-05 02:00:00,49330.907134,49418.877472,49450.576022,49198.099169,1.547719e+09,930076839056,36,167,...,1,630,3,1,1,NaN,NaN,9715,10366,1
3,1,2021-10-05 03:00:00,49419.776938,49400.596326,49557.142736,49267.414247,1.489600e+09,929620761272,39,164,...,1,664,3,1,1,NaN,NaN,9973,11032,1
4,1,2021-10-05 04:00:00,49397.449653,49268.924604,49397.449653,49204.091696,1.344814e+09,927048549205,65,146,...,1,721,3,1,1,NaN,NaN,10795,10698,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1712,1,2021-10-09 00:00:00,54129.114890,54436.476765,54436.476765,53924.582778,1.708152e+09,1022365284371,69,641,...,1,1198,3,1,1,NaN,NaN,9561,9328,1
1713,1,2021-10-09 01:00:00,54450.750262,54191.446186,54450.750262,54068.662813,1.603445e+09,1020482132820,60,434,...,1,1820,3,1,1,NaN,NaN,9408,9942,1
1714,1,2021-10-09 02:00:00,54170.024876,54310.917570,54329.360220,54058.346955,1.647628e+09,1021870131369,54,347,...,1,1094,3,1,1,1.0,NaN,8861,8617,1
1715,1,2021-10-09 03:00:00,54325.030474,54728.418413,54835.731833,54325.030474,1.873041e+09,1030994983532,93,200,...,1,902,3,1,1,1.0,NaN,9216,8720,1
1716,1,2021-10-09 04:00:00,54607.361280,54730.664962,54742.032519,54588.657796,6.176633e+08,1032402168062,7,10,...,1,889,3,1,1,1.0,NaN,3805,9201,1

,asset_id,time,open,close,high,low,volume,market_cap,reddit_posts,reddit_posts_score,...,market_cap_rank,percent_change_24h_rank,volume_24h_rank,social_volume_24h_rank,social_score_24h_rank,medium,youtube,social_contributors,social_volume,price_btc
0,1,2021-10-05 00:00:00,49291.614867,49580.869981,49836.387190,49137.142925,2.629191e+09,934004877123,57,1261,...,1,611,3,1,1,NaN,NaN,10642,13065,1
1,1,2021-10-05 01:00:00,49578.481326,49319.445243,49617.550634,49263.197503,1.680776e+09,929262668689,48,536,...,1,635,3,1,1,NaN,NaN,9794,12698,1
2,1,2021-10-05 02:00:00,49330.907134,49418.877472,49450.576022,49198.099169,1.547719e+09,930076839056,36,167,...,1,630,3,1,1,NaN,NaN,9715,10366,1
3,1,2021-10-05 03:00:00,49419.776938,49400.596326,49557.142736,49267.414247,1.489600e+09,929620761272,39,164,...,1,664,3,1,1,NaN,NaN,9973,11032,1
4,1,2021-10-05 04:00:00,49397.449653,49268.924604,49397.449653,49204.091696,1.344814e+09,927048549205,65,146,...,1,721,3,1,1,NaN,NaN,10795,10698,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1813,1,2021-10-09 00:00:00,54129.114890,54436.476765,54436.476765,53924.582778,1.708152e+09,1022365284371,69,641,...,1,1198,3,1,1,NaN,NaN,9561,9328,1
1814,1,2021-10-09 01:00:00,54450.750262,54191.446186,54450.750262,54068.662813,1.603445e+09,1020482132820,60,434,...,1,1820,3,1,1,NaN,NaN,9408,9942,1
1815,1,2021-10-09 02:00:00,54170.024876,54310.917570,54329.360220,54058.346955,1.647628e+09,1021870131369,54,347,...,1,1094,3,1,1,1.0,NaN,8861,8617,1
1816,1,2021-10-09 03:00:00,54325.030474,54728.418413,54835.731833,54325.030474,1.873041e+09,1030994983532,93,200,...,1,902,3,1,1,1.0,NaN,9216,8720,1
1817,1,2021-10-09 04:00:00,54607.361280,54730.664962,54742.032519,54588.657796,6.176633e+08,1032402168062,7,10,...,1,889,3,1,1,1.0,NaN,3805,9201,1

,asset_id,time,open,close,high,low,volume,market_cap,reddit_posts,reddit_posts_score,...,market_cap_rank,percent_change_24h_rank,volume_24h_rank,social_volume_24h_rank,social_score_24h_rank,medium,youtube,social_contributors,social_volume,price_btc
0,1,2021-10-05 00:00:00,49291.614867,49580.869981,49836.387190,49137.142925,2.629191e+09,934004877123,57,1261,...,1,611,3,1,1,NaN,NaN,10642,13065,1
1,1,2021-10-05 01:00:00,49578.481326,49319.445243,49617.550634,49263.197503,1.680776e+09,929262668689,48,536,...,1,635,3,1,1,NaN,NaN,9794,12698,1
2,1,2021-10-05 02:00:00,49330.907134,49418.877472,49450.576022,49198.099169,1.547719e+09,930076839056,36,167,...,1,630,3,1,1,NaN,NaN,9715,10366,1
3,1,2021-10-05 03:00:00,49419.776938,49400.596326,49557.142736,49267.414247,1.489600e+09,929620761272,39,164,...,1,664,3,1,1,NaN,NaN,9973,11032,1
4,1,2021-10-05 04:00:00,49397.449653,49268.924604,49397.449653,49204.091696,1.344814e+09,927048549205,65,146,...,1,721,3,1,1,NaN,NaN,10795,10698,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1914,1,2021-10-09 00:00:00,54129.114890,54436.476765,54436.476765,53924.582778,1.708152e+09,1022365284371,69,641,...,1,1198,3,1,1,NaN,NaN,9561,9328,1
1915,1,2021-10-09 01:00:00,54450.750262,54191.446186,54450.750262,54068.662813,1.603426e+09,1020482132820,60,434,...,1,1820,3,1,1,NaN,NaN,9408,9942,1
1916,1,2021-10-09 02:00:00,54170.175595,54311.069255,54329.471528,54058.577650,1.645809e+09,1021870131369,54,347,...,1,1094,3,1,1,1.0,NaN,8861,8617,1
1917,1,2021-10-09 03:00:00,54325.199039,54728.575963,54835.875657,54325.199039,1.870257e+09,1030994983532,93,200,...,1,902,3,1,1,1.0,NaN,9216,8720,1
1918,1,2021-10-09 04:00:00,54626.807259,54798.737375,54715.548850,54587.020634,5.529817e+08,1032328370377,6,9,...,1,882,3,1,1,1.0,NaN,4118,9241,1

,asset_id,time,open,close,high,low,volume,market_cap,reddit_posts,reddit_posts_score,...,market_cap_rank,percent_change_24h_rank,volume_24h_rank,social_volume_24h_rank,social_score_24h_rank,medium,youtube,social_contributors,social_volume,price_btc
0,1,2021-10-05 00:00:00,49291.614867,49580.869981,49836.387190,49137.142925,2.629191e+09,934004877123,57,1261,...,1,611,3,1,1,NaN,NaN,10642,13065,1
1,1,2021-10-05 01:00:00,49578.481326,49319.445243,49617.550634,49263.197503,1.680776e+09,929262668689,48,536,...,1,635,3,1,1,NaN,NaN,9794,12698,1
2,1,2021-10-05 02:00:00,49330.907134,49418.877472,49450.576022,49198.099169,1.547719e+09,930076839056,36,167,...,1,630,3,1,1,NaN,NaN,9715,10366,1
3,1,2021-10-05 03:00:00,49419.776938,49400.596326,49557.142736,49267.414247,1.489600e+09,929620761272,39,164,...,1,664,3,1,1,NaN,NaN,9973,11032,1
4,1,2021-10-05 04:00:00,49397.449653,49268.924604,49397.449653,49204.091696,1.344814e+09,927048549205,65,146,...,1,721,3,1,1,NaN,NaN,10795,10698,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015,1,2021-10-09 00:00:00,54129.114890,54436.476765,54436.476765,53924.582778,1.708152e+09,1022365284371,69,641,...,1,1198,3,1,1,NaN,NaN,9561,9328,1
2016,1,2021-10-09 01:00:00,54450.750262,54191.446186,54450.750262,54068.662813,1.603426e+09,1020482132820,60,434,...,1,1820,3,1,1,NaN,NaN,9408,9942,1
2017,1,2021-10-09 02:00:00,54170.175595,54311.069255,54329.471528,54058.577650,1.645809e+09,1021870131369,54,347,...,1,1094,3,1,1,1.0,NaN,8861,8617,1
2018,1,2021-10-09 03:00:00,54325.199039,54728.575963,54835.875657,54325.199039,1.870257e+09,1030994983532,93,200,...,1,902,3,1,1,1.0,NaN,9216,8720,1
2019,1,2021-10-09 04:00:00,54626.807259,54798.737375,54715.548850,54587.020634,5.529817e+08,1032328370377,6,9,...,1,882,3,1,1,1.0,NaN,4118,9241,1

,asset_id,time,open,close,high,low,volume,market_cap,reddit_posts,reddit_posts_score,...,market_cap_rank,percent_change_24h_rank,volume_24h_rank,social_volume_24h_rank,social_score_24h_rank,medium,youtube,social_contributors,social_volume,price_btc
0,1,2021-10-05 00:00:00,49291.614867,49580.869981,49836.387190,49137.142925,2.629191e+09,934004877123,57,1261,...,1,611,3,1,1,NaN,NaN,10642,13065,1
1,1,2021-10-05 01:00:00,49578.481326,49319.445243,49617.550634,49263.197503,1.680776e+09,929262668689,48,536,...,1,635,3,1,1,NaN,NaN,9794,12698,1
2,1,2021-10-05 02:00:00,49330.907134,49418.877472,49450.576022,49198.099169,1.547719e+09,930076839056,36,167,...,1,630,3,1,1,NaN,NaN,9715,10366,1
3,1,2021-10-05 03:00:00,49419.776938,49400.596326,49557.142736,49267.414247,1.489600e+09,929620761272,39,164,...,1,664,3,1,1,NaN,NaN,9973,11032,1
4,1,2021-10-05 04:00:00,49397.449653,49268.924604,49397.449653,49204.091696,1.344814e+09,927048549205,65,146,...,1,721,3,1,1,NaN,NaN,10795,10698,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2116,1,2021-10-09 00:00:00,54129.114890,54436.476765,54436.476765,53924.582778,1.708152e+09,1022365284371,69,641,...,1,1198,3,1,1,NaN,NaN,9561,9328,1
2117,1,2021-10-09 01:00:00,54450.750262,54191.446186,54450.750262,54068.662813,1.603445e+09,1020482132820,60,434,...,1,1820,3,1,1,NaN,NaN,9408,9942,1
2118,1,2021-10-09 02:00:00,54170.024876,54310.917570,54329.360220,54058.346955,1.647628e+09,1021870131369,54,347,...,1,1094,3,1,1,1.0,NaN,8862,8617,1
2119,1,2021-10-09 03:00:00,54325.030474,54728.418413,54835.731833,54325.030474,1.873041e+09,1030994983532,93,200,...,1,902,3,1,1,1.0,NaN,9216,8720,1
2120,1,2021-10-09 04:00:00,54607.361280,54798.718347,54742.032519,54588.657796,6.176633e+08,1032169726958,5,5,...,1,884,3,1,1,1.0,NaN,4224,9276,1

,asset_id,time,open,close,high,low,volume,market_cap,reddit_posts,reddit_posts_score,...,market_cap_rank,percent_change_24h_rank,volume_24h_rank,social_volume_24h_rank,social_score_24h_rank,medium,youtube,social_contributors,social_volume,price_btc
0,1,2021-10-05 00:00:00,49291.614867,49580.869981,49836.387190,49137.142925,2.629191e+09,934004877123,57,1261,...,1,611,3,1,1,NaN,NaN,10642,13065,1
1,1,2021-10-05 01:00:00,49578.481326,49319.445243,49617.550634,49263.197503,1.680776e+09,929262668689,48,536,...,1,635,3,1,1,NaN,NaN,9794,12698,1
2,1,2021-10-05 02:00:00,49330.907134,49418.877472,49450.576022,49198.099169,1.547719e+09,930076839056,36,167,...,1,630,3,1,1,NaN,NaN,9715,10366,1
3,1,2021-10-05 03:00:00,49419.776938,49400.596326,49557.142736,49267.414247,1.489600e+09,929620761272,39,164,...,1,664,3,1,1,NaN,NaN,9973,11032,1
4,1,2021-10-05 04:00:00,49397.449653,49268.924604,49397.449653,49204.091696,1.344814e+09,927048549205,65,146,...,1,721,3,1,1,NaN,NaN,10795,10698,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2217,1,2021-10-09 00:00:00,54129.114890,54436.476765,54436.476765,53924.582778,1.708152e+09,1022365284371,69,641,...,1,1198,3,1,1,NaN,NaN,9561,9328,1
2218,1,2021-10-09 01:00:00,54450.750262,54191.446186,54450.750262,54068.662813,1.603445e+09,1020482132820,60,434,...,1,1820,3,1,1,NaN,NaN,9408,9942,1
2219,1,2021-10-09 02:00:00,54170.024876,54310.917570,54329.360220,54058.346955,1.647628e+09,1021870131369,54,347,...,1,1094,3,1,1,1.0,NaN,8862,8617,1
2220,1,2021-10-09 03:00:00,54325.030474,54728.418413,54835.731833,54325.030474,1.873041e+09,1030994983532,93,200,...,1,902,3,1,1,1.0,NaN,9216,8720,1
2221,1,2021-10-09 04:00:00,54607.361280,54798.718347,54742.032519,54588.657796,6.176633e+08,1032169726958,5,5,...,1,884,3,1,1,1.0,NaN,4224,9276,1

,asset_id,time,open,close,high,low,volume,market_cap,reddit_posts,reddit_posts_score,...,market_cap_rank,percent_change_24h_rank,volume_24h_rank,social_volume_24h_rank,social_score_24h_rank,medium,youtube,social_contributors,social_volume,price_btc
0,1,2021-10-05 00:00:00,49291.614867,49580.869981,49836.387190,49137.142925,2.629191e+09,934004877123,57,1261,...,1,611,3,1,1,NaN,NaN,10642,13065,1
1,1,2021-10-05 01:00:00,49578.481326,49319.445243,49617.550634,49263.197503,1.680776e+09,929262668689,48,536,...,1,635,3,1,1,NaN,NaN,9794,12698,1
2,1,2021-10-05 02:00:00,49330.907134,49418.877472,49450.576022,49198.099169,1.547719e+09,930076839056,36,167,...,1,630,3,1,1,NaN,NaN,9715,10366,1
3,1,2021-10-05 03:00:00,49419.776938,49400.596326,49557.142736,49267.414247,1.489600e+09,929620761272,39,164,...,1,664,3,1,1,NaN,NaN,9973,11032,1
4,1,2021-10-05 04:00:00,49397.449653,49268.924604,49397.449653,49204.091696,1.344814e+09,927048549205,65,146,...,1,721,3,1,1,NaN,NaN,10795,10698,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2318,1,2021-10-09 00:00:00,54129.114890,54436.476765,54436.476765,53924.582778,1.708152e+09,1022365284371,69,641,...,1,1198,3,1,1,NaN,NaN,9561,9328,1
2319,1,2021-10-09 01:00:00,54450.750262,54191.446186,54450.750262,54068.662813,1.603445e+09,1020482132820,60,434,...,1,1820,3,1,1,NaN,NaN,9408,9942,1
2320,1,2021-10-09 02:00:00,54170.024876,54310.917570,54329.360220,54058.346955,1.647628e+09,1021870131369,54,347,...,1,1094,3,1,1,1.0,NaN,8862,8617,1
2321,1,2021-10-09 03:00:00,54325.030474,54728.418413,54835.731833,54325.030474,1.873041e+09,1030994983532,93,200,...,1,902,3,1,1,1.0,NaN,9216,8720,1
2322,1,2021-10-09 04:00:00,54607.361280,54798.718347,54742.032519,54588.657796,6.176633e+08,1032169726958,5,5,...,1,884,3,1,1,1.0,NaN,4224,9276,1

,asset_id,time,open,close,high,low,volume,market_cap,reddit_posts,reddit_posts_score,...,market_cap_rank,percent_change_24h_rank,volume_24h_rank,social_volume_24h_rank,social_score_24h_rank,medium,youtube,social_contributors,social_volume,price_btc
0,1,2021-10-05 00:00:00,49291.614867,49580.869981,49836.387190,49137.142925,2.629191e+09,934004877123,57,1261,...,1,611,3,1,1,NaN,NaN,10642,13065,1
1,1,2021-10-05 01:00:00,49578.481326,49319.445243,49617.550634,49263.197503,1.680776e+09,929262668689,48,536,...,1,635,3,1,1,NaN,NaN,9794,12698,1
2,1,2021-10-05 02:00:00,49330.907134,49418.877472,49450.576022,49198.099169,1.547719e+09,930076839056,36,167,...,1,630,3,1,1,NaN,NaN,9715,10366,1
3,1,2021-10-05 03:00:00,49419.776938,49400.596326,49557.142736,49267.414247,1.489600e+09,929620761272,39,164,...,1,664,3,1,1,NaN,NaN,9973,11032,1
4,1,2021-10-05 04:00:00,49397.449653,49268.924604,49397.449653,49204.091696,1.344814e+09,927048549205,65,146,...,1,721,3,1,1,NaN,NaN,10795,10698,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2419,1,2021-10-09 00:00:00,54129.114890,54436.476765,54436.476765,53924.582778,1.708152e+09,1022365284371,69,641,...,1,1198,3,1,1,NaN,NaN,9561,9328,1
2420,1,2021-10-09 01:00:00,54450.750262,54191.446186,54450.750262,54068.662813,1.603445e+09,1020482132820,60,434,...,1,1820,3,1,1,NaN,NaN,9408,9942,1
2421,1,2021-10-09 02:00:00,54170.024876,54310.917570,54329.360220,54058.346955,1.647628e+09,1021870131369,54,347,...,1,1094,3,1,1,1.0,NaN,8862,8617,1
2422,1,2021-10-09 03:00:00,54325.030474,54728.418413,54835.731833,54325.030474,1.873041e+09,1030994983532,93,200,...,1,902,3,1,1,1.0,NaN,9216,8720,1
2423,1,2021-10-09 04:00:00,54607.361280,54790.316160,54742.032519,54588.657796,6.176633e+08,1032189440635,2,2,...,1,880,3,1,1,1.0,NaN,4224,9300,1

,asset_id,time,open,close,high,low,volume,market_cap,reddit_posts,reddit_posts_score,...,market_cap_rank,percent_change_24h_rank,volume_24h_rank,social_volume_24h_rank,social_score_24h_rank,medium,youtube,social_contributors,social_volume,price_btc
0,1,2021-10-05 00:00:00,49291.614867,49580.869981,49836.387190,49137.142925,2.629191e+09,934004877123,57,1261,...,1,611,3,1,1,NaN,NaN,10642,13065,1
1,1,2021-10-05 01:00:00,49578.481326,49319.445243,49617.550634,49263.197503,1.680776e+09,929262668689,48,536,...,1,635,3,1,1,NaN,NaN,9794,12698,1
2,1,2021-10-05 02:00:00,49330.907134,49418.877472,49450.576022,49198.099169,1.547719e+09,930076839056,36,167,...,1,630,3,1,1,NaN,NaN,9715,10366,1
3,1,2021-10-05 03:00:00,49419.776938,49400.596326,49557.142736,49267.414247,1.489600e+09,929620761272,39,164,...,1,664,3,1,1,NaN,NaN,9973,11032,1
4,1,2021-10-05 04:00:00,49397.449653,49268.924604,49397.449653,49204.091696,1.344814e+09,927048549205,65,146,...,1,721,3,1,1,NaN,NaN,10795,10698,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2520,1,2021-10-09 00:00:00,54129.114890,54436.476765,54436.476765,53924.582778,1.708152e+09,1022365284371,69,641,...,1,1198,3,1,1,NaN,NaN,9561,9328,1
2521,1,2021-10-09 01:00:00,54450.750262,54191.446186,54450.750262,54068.662813,1.603445e+09,1020482132820,60,434,...,1,1820,3,1,1,NaN,NaN,9408,9942,1
2522,1,2021-10-09 02:00:00,54170.024876,54310.917570,54329.360220,54058.346955,1.647628e+09,1021870131369,54,347,...,1,1094,3,1,1,1.0,NaN,8862,8617,1
2523,1,2021-10-09 03:00:00,54325.030474,54728.418413,54835.731833,54325.030474,1.873041e+09,1030994983532,93,200,...,1,902,3,1,1,1.0,NaN,9216,8720,1
2524,1,2021-10-09 04:00:00,54607.361280,54790.316160,54742.032519,54588.657796,6.176633e+08,1032189440635,2,2,...,1,880,3,1,1,1.0,NaN,4224,9300,1

,asset_id,time,open,close,high,low,volume,market_cap,reddit_posts,reddit_posts_score,...,market_cap_rank,percent_change_24h_rank,volume_24h_rank,social_volume_24h_rank,social_score_24h_rank,medium,youtube,social_contributors,social_volume,price_btc
0,1,2021-10-05 00:00:00,49291.614867,49580.869981,49836.387190,49137.142925,2.629191e+09,934004877123,57,1261,...,1,611,3,1,1,NaN,NaN,10642,13065,1
1,1,2021-10-05 01:00:00,49578.481326,49319.445243,49617.550634,49263.197503,1.680776e+09,929262668689,48,536,...,1,635,3,1,1,NaN,NaN,9794,12698,1
2,1,2021-10-05 02:00:00,49330.907134,49418.877472,49450.576022,49198.099169,1.547719e+09,930076839056,36,167,...,1,630,3,1,1,NaN,NaN,9715,10366,1
3,1,2021-10-05 03:00:00,49419.776938,49400.596326,49557.142736,49267.414247,1.489600e+09,929620761272,39,164,...,1,664,3,1,1,NaN,NaN,9973,11032,1
4,1,2021-10-05 04:00:00,49397.449653,49268.924604,49397.449653,49204.091696,1.344814e+09,927048549205,65,146,...,1,721,3,1,1,NaN,NaN,10795,10698,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2621,1,2021-10-09 00:00:00,54129.114890,54436.476765,54436.476765,53924.582778,1.708152e+09,1022365284371,69,641,...,1,1198,3,1,1,NaN,NaN,9561,9328,1
2622,1,2021-10-09 01:00:00,54450.750262,54191.446186,54450.750262,54068.662813,1.603445e+09,1020482132820,60,434,...,1,1820,3,1,1,NaN,NaN,9408,9942,1
2623,1,2021-10-09 02:00:00,54170.024876,54310.917570,54329.360220,54058.346955,1.647628e+09,1021870131369,54,347,...,1,1094,3,1,1,1.0,NaN,8862,8617,1
2624,1,2021-10-09 03:00:00,54325.030474,54728.418413,54835.731833,54325.030474,1.873041e+09,1030994983532,93,200,...,1,902,3,1,1,1.0,NaN,9216,8720,1
2625,1,2021-10-09 04:00:00,54607.361280,54791.362614,54742.032519,54588.657796,6.176633e+08,1031526553492,27,34,...,1,880,3,1,1,1.0,NaN,4224,9372,1

,asset_id,time,open,close,high,low,volume,market_cap,reddit_posts,reddit_posts_score,...,market_cap_rank,percent_change_24h_rank,volume_24h_rank,social_volume_24h_rank,social_score_24h_rank,medium,youtube,social_contributors,social_volume,price_btc
0,1,2021-10-05 00:00:00,49291.614867,49580.869981,49836.387190,49137.142925,2.629191e+09,934004877123,57,1261,...,1,611,3,1,1,NaN,NaN,10642,13065,1
1,1,2021-10-05 01:00:00,49578.481326,49319.445243,49617.550634,49263.197503,1.680776e+09,929262668689,48,536,...,1,635,3,1,1,NaN,NaN,9794,12698,1
2,1,2021-10-05 02:00:00,49330.907134,49418.877472,49450.576022,49198.099169,1.547719e+09,930076839056,36,167,...,1,630,3,1,1,NaN,NaN,9715,10366,1
3,1,2021-10-05 03:00:00,49419.776938,49400.596326,49557.142736,49267.414247,1.489600e+09,929620761272,39,164,...,1,664,3,1,1,NaN,NaN,9973,11032,1
4,1,2021-10-05 04:00:00,49397.449653,49268.924604,49397.449653,49204.091696,1.344814e+09,927048549205,65,146,...,1,721,3,1,1,NaN,NaN,10795,10698,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2722,1,2021-10-09 00:00:00,54129.114890,54436.476765,54436.476765,53924.582778,1.708152e+09,1022365284371,69,641,...,1,1198,3,1,1,NaN,NaN,9561,9328,1
2723,1,2021-10-09 01:00:00,54450.750262,54191.446186,54450.750262,54068.662813,1.603445e+09,1020482132820,60,434,...,1,1820,3,1,1,NaN,NaN,9408,9942,1
2724,1,2021-10-09 02:00:00,54170.024876,54310.917570,54329.360220,54058.346955,1.647628e+09,1021870131369,54,347,...,1,1094,3,1,1,1.0,NaN,8862,8617,1
2725,1,2021-10-09 03:00:00,54325.030474,54728.418413,54835.731833,54325.030474,1.873041e+09,1030994983532,93,200,...,1,902,3,1,1,1.0,NaN,9216,8720,1
2726,1,2021-10-09 04:00:00,54607.361280,54791.362614,54742.032519,54588.657796,6.176633e+08,1031526553492,27,34,...,1,894,3,1,1,1.0,NaN,4224,9372,1

,asset_id,time,open,close,high,low,volume,market_cap,reddit_posts,reddit_posts_score,...,market_cap_rank,percent_change_24h_rank,volume_24h_rank,social_volume_24h_rank,social_score_24h_rank,medium,youtube,social_contributors,social_volume,price_btc
0,1,2021-10-05 00:00:00,49291.614867,49580.869981,49836.387190,49137.142925,2.629191e+09,934004877123,57,1261,...,1,611,3,1,1,NaN,NaN,10642,13065,1
1,1,2021-10-05 01:00:00,49578.481326,49319.445243,49617.550634,49263.197503,1.680776e+09,929262668689,48,536,...,1,635,3,1,1,NaN,NaN,9794,12698,1
2,1,2021-10-05 02:00:00,49330.907134,49418.877472,49450.576022,49198.099169,1.547719e+09,930076839056,36,167,...,1,630,3,1,1,NaN,NaN,9715,10366,1
3,1,2021-10-05 03:00:00,49419.776938,49400.596326,49557.142736,49267.414247,1.489600e+09,929620761272,39,164,...,1,664,3,1,1,NaN,NaN,9973,11032,1
4,1,2021-10-05 04:00:00,49397.449653,49268.924604,49397.449653,49204.091696,1.344814e+09,927048549205,65,146,...,1,721,3,1,1,NaN,NaN,10795,10698,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2823,1,2021-10-09 01:00:00,54450.750262,54191.446186,54450.750262,54068.662813,1.603447e+09,1020482132820,60,633,...,1,1820,3,1,1,NaN,NaN,9412,9943,1
2824,1,2021-10-09 02:00:00,54170.024854,54310.918467,54329.361078,54058.349692,1.647664e+09,1021870131369,54,352,...,1,1094,3,1,1,1.0,NaN,8863,8620,1
2825,1,2021-10-09 03:00:00,54324.940919,54728.311716,54835.588983,54324.940919,1.873761e+09,1030994983532,93,292,...,1,902,3,1,1,1.0,NaN,9231,8721,1
2826,1,2021-10-09 04:00:00,54717.991674,54840.329458,54868.369286,54686.876502,1.458440e+09,1031814822717,59,96,...,1,896,3,1,1,1.0,NaN,9993,9395,1
2827,1,2021-10-09 05:00:00,54741.380509,54616.528289,54757.485239,54511.997852,5.172159e+08,1028897182105,18,23,...,1,1034,3,1,1,NaN,1.0,1489,9548,1

KeyboardInterrupt:

In [ ]:
# new_df = pd.read_csv('all_df.csv').iloc[:,92:]
# new_df.set_index('time',inplace=True)